In [2]:
import pandas as pd

In [3]:
nyc_path = '../datasets/NYC_AIRBNB.csv'
boston_path = '../datasets/BOSTON_LISTING.csv'

In [28]:
nyc_df = pd.read_csv(nyc_path)
boston_df = pd.read_csv(boston_path)

In [5]:
nyc_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [9]:
nyc_df = nyc_df.drop('name', axis=1)

In [12]:
nyc_df.isnull().sum()

id                                    0
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [16]:
nyc_df = nyc_df.drop(labels=['host_name', 'last_review', 'reviews_per_month'], axis=1)

In [17]:
nyc_df

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,2539,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,6,365
1,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2,355
2,3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,1,365
3,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,1,194
4,5022,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,8232441,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2,9
48891,36485057,6570630,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2,36
48892,36485431,23492952,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,1,27
48893,36485609,30985759,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,6,2
48894,36487245,68119814,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,1,23

In [21]:
nyc_df['room_type'] = nyc_df['room_type'].astype('category')
nyc_df['room_type_cat'] = nyc_df['room_type'].cat.codes

In [38]:
nyc_df['neighbourhood'] = nyc_df['neighbourhood'].astype('category')
nyc_df['neighbourhood_cat'] = nyc_df['neighbourhood'].cat.codes

In [25]:
nyc_df

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,room_type_cat,neighbourhood_cat
0,2539,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,6,365,1,108
1,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2,355,0,127
2,3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,1,365,1,94
3,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,1,194,0,41
4,5022,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,1,0,0,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,8232441,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2,9,1,13
48891,36485057,6570630,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2,36,1,28
48892,36485431,23492952,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,1,27,0,94
48893,36485609,30985759,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,6,2,2,95
48894,36487245,68119814,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,1,23,1,95

In [41]:
nyc_df['neighbourhood_group'] = nyc_df['neighbourhood_group'].astype('category')
nyc_df['neighbourhood_group_cat'] = nyc_df['neighbourhood_group'].cat.codes

In [42]:
nyc_df

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,room_type_cat,neighbourhood_cat,neighbourhood_group_cat
0,2539,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,6,365,1,108,1
1,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2,355,0,127,2
2,3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,1,365,1,94,2
3,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,1,194,0,41,1
4,5022,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,1,0,0,61,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,8232441,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2,9,1,13,1
48891,36485057,6570630,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2,36,1,28,1
48892,36485431,23492952,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,1,27,0,94,2
48893,36485609,30985759,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,6,2,2,95,2
48894,36487245,68119814,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,1,23,1,95,2

In [43]:
nyc_df['price']/nyc_df['number_of_reviews']

0        16.555556
1         5.000000
2              inf
3         0.329630
4         8.888889
           ...
48890          inf
48891          inf
48892          inf
48893          inf
48894          inf
Length: 48895, dtype: float64

In [45]:
boston_df = pd.read_csv(boston_path)

In [54]:
pd.set_option('display.max_rows', 500)
boston_df.isnull().sum()

id                                     0
listing_url                            0
scrape_id                              0
last_scraped                           0
name                                   0
summary                              143
space                               1057
description                            0
experiences_offered                    0
neighborhood_overview               1415
notes                               1975
transit                             1290
access                              1489
interaction                         1554
house_rules                         1192
thumbnail_url                        599
medium_url                           599
picture_url                            0
xl_picture_url                       599
host_id                                0
host_url                               0
host_name                              0
host_since                             0
host_location                         11
host_about                          1309
host_response_time                   471
host_response_rate                   471
host_acceptance_rate                 471
host_is_superhost                      0
host_thumbnail_url                     0
host_picture_url                       0
host_neighbourhood                   339
host_listings_count                    0
host_total_listings_count              0
host_verifications                     0
host_has_profile_pic                   0
host_identity_verified                 0
street                                 0
neighbourhood                        543
neighbourhood_cleansed                 0
neighbourhood_group_cleansed        3585
city                                   2
state                                  0
zipcode                               38
market                                14
smart_location                         0
country_code                           0
country                                0
latitude                               0
longitude                              0
is_location_exact                      0
property_type                          3
room_type                              0
accommodates                           0
bathrooms                             14
bedrooms                              10
beds                                   9
bed_type                               0
amenities                              0
square_feet                         3529
price                                  0
weekly_price                        2693
monthly_price                       2697
security_deposit                    2243
cleaning_fee                        1107
guests_included                        0
extra_people                           0
minimum_nights                         0
maximum_nights                         0
calendar_updated                       0
has_availability                    3585
availability_30                        0
availability_60                        0
availability_90                        0
availability_365                       0
calendar_last_scraped                  0
number_of_reviews                      0
first_review                         756
last_review                          756
review_scores_rating                 813
review_scores_accuracy               823
review_scores_cleanliness            818
review_scores_checkin                820
review_scores_communication          818
review_scores_location               822
review_scores_value                  821
requires_license                       0
license                             3585
jurisdiction_names                  3585
instant_bookable                       0
cancellation_policy                    0
require_guest_profile_picture          0
require_guest_phone_verification       0
calculated_host_listings_count         0
reviews_per_month                    756
dtype: int64

In [75]:
boston_df = boston_df.drop(labels=['city', 'host_location', 'neighbourhood', 'space', 'transit', 'access', 'interaction', 'weekly_price', 'monthly_price', 'square_feet', 'neighbourhood_group_cleansed'], axis=1)

In [36]:
boston_df['property_type'].value_counts()

Apartment          2612
House               562
Condominium         231
Townhouse            54
Bed & Breakfast      41
Loft                 39
Other                17
Boat                 12
Villa                 6
Entire Floor          4
Dorm                  2
Camper/RV             1
Guesthouse            1
Name: property_type, dtype: int64

In [38]:
boston_df['property_type'] = boston_df['property_type'].fillna('Aprtament')

In [40]:
boston_df['beds'].fillna(1.0, inplace=True)

In [43]:
boston_df['bedrooms'].fillna(1.0, inplace=True)

In [45]:
boston_df['bathrooms'].fillna(1.0, inplace=True)

In [47]:
boston_df['neighbourhood'].isnull().sum()

543

In [49]:
boston_df['neighbourhood'].value_counts()

Allston-Brighton      364
Jamaica Plain         314
South End             298
Back Bay              291
Fenway/Kenmore        249
South Boston          216
Dorchester            195
Beacon Hill           174
North End             125
East Boston           117
Roxbury               116
Mission Hill          103
Charlestown            79
Chinatown              78
West End               68
Roslindale             50
West Roxbury           35
Theater District       33
Downtown Crossing      26
Hyde Park              25
Mattapan               20
Somerville             13
Financial District     13
Leather District        8
Brookline               8
Downtown                8
Cambridge               7
Chestnut Hill           4
Government Center       3
Harvard Square          2
Name: neighbourhood, dtype: int64

In [50]:
boston_df['neighbourhood_cleansed'].value_counts()

Jamaica Plain              343
South End                  326
Back Bay                   302
Fenway                     290
Dorchester                 269
Allston                    260
Beacon Hill                194
Brighton                   185
South Boston               174
Downtown                   172
East Boston                150
Roxbury                    144
North End                  143
Mission Hill               124
Charlestown                111
South Boston Waterfront     83
Chinatown                   71
Roslindale                  56
West End                    49
West Roxbury                46
Hyde Park                   31
Bay Village                 24
Mattapan                    24
Longwood Medical Area        9
Leather District             5
Name: neighbourhood_cleansed, dtype: int64

In [57]:
boston_df['review_scores_rating'].fillna(0.0)

0         0.0
1        94.0
2        98.0
3       100.0
4        99.0
        ...
3580     90.0
3581      0.0
3582      0.0
3583     90.0
3584      0.0
Name: review_scores_rating, Length: 3585, dtype: float64

In [66]:
boston_df['cleaning_fee'] = boston_df['cleaning_fee'].apply(lambda x: float(x.replace('$', '')) if isinstance(x, str) else x)

In [70]:
boston_df['cleaning_fee'].fillna(68)

0       35.0
1       10.0
2       68.0
3       50.0
4       15.0
        ...
3580    68.0
3581    15.0
3582    68.0
3583    68.0
3584    25.0
Name: cleaning_fee, Length: 3585, dtype: float64

In [74]:
boston_df['weekly_price']

0           NaN
1       $400.00
2       $395.00
3           NaN
4           NaN
         ...
3580        NaN
3581        NaN
3582        NaN
3583        NaN
3584        NaN
Name: weekly_price, Length: 3585, dtype: object